{# templates/me.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Cardgame{% endblock %}

{% block content %}
<div class="container-fluid" role="main">
    <div class="jumbotron">
        <h1>Kortspel 21</h1>
    </div>
    <div class="row">
        <div class="col-md-1 home21">
            <a href="{{ path('card') }}">&#8617;</a>
        </div>
        <div class="col-md-8">
            <h3>Draget kort</h3>
            {% if cards %}
                {% for card in cards %}
                    {% set suit = card.getSuit() %}
                    {% set value = card.getValue() %}
                    <div {% if 'hearts' in suit or 'diams' in suit %} class="card red" {% else %} class="card" {% endif %}>
                        <div class="top">
                            <span class="number">{{ value }}</span>
                            <span class="icon">{{ suit | raw }}</span>
                        </div>
                        <div class="lg_icon">{{ suit | raw }}</div>
                        <div class="bottom">
                            <span class="icon rotate">{{ suit | raw }}</span>
                            <span class="number rotate">{{ value }}</span>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="col-md-3">
            <h3>Antalet kort kvar</h3>
            <h3>{{ noOfCardsLeft }}</h3>
            <form method="post">
                <div class="center">
                    <input class="numberInput" type="number" name="noOfCards" max="8" min="1"
                        value={{ app.request.get('number') }}>
                    <input class="submitButton" type="submit" name="drawSeveral" value="Ta flera kort">
                    <input class="submitButton" type="submit" name="clear" value="Återställ">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
