{# templates/metrics/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Metrics{% endblock %}

{% block content %}
<div class="container-fluid" role="main">
    <div class="jumbotron">
        <h1>Metrics</h1>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h3>Introduktion</h3>
            <p>Här har jag analyserat min kodkvalitet på denna webbplatsen.
            Ett av verktygen (phpmetrics) har jag installerat och kört lokalt i min
            utvecklingsmiljö. Det andra verktyget (Scrutinizer CI) är en extern
            byggtjänst som kopplar sig mot mitt repo på GitHub/GitLab.</p>

            <p><strong>Codestyle:</strong></p>

            <p><strong>Coverage:</strong></p>
            <ul>
                <li>Lines, files, classes, methods covered by one or several test cases.</li>
                <li>Higher coverage could imply that the code is well tested.</li>
                <li>Low coverage could imply potential risk in quality assurance.</li>
            </ul>
            <p><strong>Complexity</strong></p>
            <ul>
                <li>The higher the value the more complex the code might be resulting in
                harder to maintain and develop.</li>
                <li>A lot of nested loops and conditions.</li>
                <li>Recommended 10.</li>
            </ul>
            <p><strong>Cohesion</strong></p>
            <ul>
                <li>Lower values indicates focused classes with single responsibilities
                which gives "high cohesion" where the methods really belong to the class.</li>
                <li>A higher value (low cohesion) might indicate a class with many
                responsibilities that can be divided into several classes.</li>
                <li>Try to aim for lower values. That is high cohesion supporting single
                responsibility.</li>
            </ul>
            <p><strong>Coupling</strong></p>
            <ul>
                <li>Afferent coupling (AC) is the number of classes affected by given
                class. => Outgoing connections</li>
                <li>Efferent coupling (EC) is the number of classes from which given
                class receives effects. => Incoming connections</li>
                <li>High number of AC (outgoing) might say that this class uses many
                other classes.</li>
                <li>High number of EC (incoming) might say that many other classes
                depends on this class.</li>
            </ul>
            <p><strong>CRAP (Change Risk Anti-Patterns):</strong></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h3>Phpmetrics</h3>
            <p>For measurements, see:
                <a href="metricsBefore">Phpmetrics before</a>
            </p>
            <figure class="figure">
                <img src="{{ absolute_url(asset('images/metricsBefore/phpmetrics.png')) }}" alt="phpmetrics before" class="figure-img img-fluid maxWidthFigure">
            </figure>
            <h4>Observations</h4>
            <ul>
                <li><strong>Codestyle:</strong> Not included in this measurements.</li>
                <li><strong>Coverage:</strong> Not included in this measurements.</li>
                <li><strong>Complexity:</strong> Average relative System complexity: 90
                - För hög. Average cyclomatic complexity by class: 5.74 - Ok. 
                Average weighted method count by class (CC) 9 - Ok. Dessutom någon bugg - Inte ok</li>
                <li><strong>Cohesion:</strong> Lack of cohesion of methods (LCOM) är 1.37.
                JsonController och BookRepository har LCOM 5
                BookRepository, Card and Deck has LCOM 2 and UserRepository has LCOM 3.
                ProductController har LCOM 4.
                Feel ok.</li>
                <li><strong>Coupling:</strong> Card and Dice has AC 5 medan Deck har 6. - Inte ok.
                Resten av mina klasser har AC 2 eller mindre och det är ok.
                BookController har EC 7 och av mina klasser har Game21 högst med 3 - ok.</li>
                <li>Average defects by class (Kan) är 0.46 i medel men Game21 och Game21Controller
                har över 2. Något att förbättra?</li>
                <li>Antalet violations är 10 vara 3 är fel och 7 är varningar. Något att förbättra?</li>
                <li><strong>CRAP:</strong> Not included in this measurements.</li>
            </ul>
            <p>Bra länk:
                <a href="https://stackoverflow.com/questions/1031135/what-is-abstractness-vs-instability-graph/1299227#1299227">Abstract vs stable</a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h3>Scrutinizer</h3>
            <p>For report, see:
            <a href="https://scrutinizer-ci.com/g/epkmagr/grmMvc21Lib/inspections/bcb7e252-196a-4a16-8582-a831df6ecc0b">Scrutinizer for my repository.</a>
            </p>
            <figure class="figure">
                <img src="{{ absolute_url(asset('images/metricsBefore/scrutinizer.png')) }}" alt="scrutinizer before" class="figure-img img-fluid maxWidthFigure">
            </figure>
            <h4>Observations</h4>
            <ul>
                <li>7 issues varav 1 major, 5 minor och 1 unknown. - Inte ok med major fel. </li>
                <li>Dessutom 1, best practise, 1 bug och 1 oanvänd kod.</li>
                <li>Kodtäckning med testerna är 96% - ok</li>
                <li>Perhaps look at some of the security issues. 58 before.</li>
                <li>Kodbetyget är 9.73 och det är ok.</li>
                <li>Perhaps look at some of the best practises to improve my php coding.</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h3>Improvements</h3>
            <h4>Phpmetrics</h4>
            <p>New measurements, see:
            <a href="{{ asset('docs/metrics') }}">Phpmetrics</a>
            </p>
            <figure class="figure">
                <img src="{{ absolute_url(asset('images/metricsAfter/phpmetrics.png')) }}" alt="phpmetrics before" class="figure-img img-fluid maxWidthFigure">
            </figure>
            <ul>
            <li><strong>Complexity:</strong> Minska Average relative System complexity: 90 => 79.1 nu. Minskat 
            violations till 3 och de är inte på mina klasser.</li>
            <li><strong>Cohesion:</strong> Lack of cohesion of methods (LCOM) är 1.37.
                BookRepository har LCOM 4 och hade förut 5 och resten av klasserna har 2 eller mindre.</li>
            <li><strong>Coupling:</strong> Minska AC och EC något kanske?</li>
            <li>Kodtäckning</li>
            </ul>
            <h4>Scrutinizer</h4>
            <p>For report, see:
            <a href="https://scrutinizer-ci.com/g/epkmagr/grmMvc21Lib/?branch=main">Scrutinizer for my repository.</a>
            </p>
            <figure class="figure">
                <img src="{{ absolute_url(asset('images/metricsAfter/scrutinizer.png')) }}" alt="scrutinizer before" class="figure-img img-fluid maxWidthFigure">
            </figure>
            <figure class="figure">
                <img src="https://scrutinizer-ci.com/g/epkmagr/grmMvc21Lib/badges/quality-score.png?b=main&s=c50297c348a4f2bc6f72ba80fe66a46ee52c74dd" alt="Scrutinizer" class="figure-img img-fluid">
                <img src="https://scrutinizer-ci.com/g/epkmagr/grmMvc21Lib/badges/coverage.png?b=main&s=31f5672349041fe1041704fa32b22934d25c1200" alt="Scrutinizer" class="figure-img img-fluid">
                <img src="https://scrutinizer-ci.com/g/epkmagr/grmMvc21Lib/badges/build.png?b=main&s=acc87cd2612ce09519aca6e0a9d2dbf244ba2b4d" alt="Scrutinizer" class="figure-img img-fluid">
                <img src="https://scrutinizer-ci.com/g/epkmagr/grmMvc21Lib/badges/code-intelligence.svg?b=main&s=fba97541a22d517007b264a6d0b51c853226abfd" alt="Scrutinizer" class="figure-img img-fluid">
            </figure>
            <ul>
                <li>Minskat issues till 3 och de är inte mina klasser</li>
                <li>Förbättrade kodtäckning</li>
                <li>Increase the rating to 9,95</li>
                <li>Förbättrade mest Game21 klassen</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h3>GitHub actions</h3>
            <p class="marginBottom">Bla bla</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h3>Discussion</h3>
            <p class="marginBottom">Bla bla</p>
        </div>
    </div>
</div>
{% endblock %}